<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniPool">

        <!-- Launcher Activity -->

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Landing -->

        <activity
            android:name=".LandingActivity"
            android:exported="true"/>

        <!-- Sign Up -->

        <activity android:name=".SignUpAsActivity" />
        <activity android:name=".SignUpStudentActivity" />
        <activity android:name=".SignUpDriverActivity" />
        <activity android:name=".SignUpStaffActivity" />

        <!-- Driver -->

        <activity android:name=".DriverHomeActivity" />
        <activity android:name=".DriverStatisticsActivity" />
        <activity android:name=".DriverDeparturesActivity" />
        <activity android:name=".DriverPassengersActivity" />
        <activity android:name=".DriverTripLogsActivity" />
        <activity android:name=".DriverMessagesActivity" />
        <activity android:name=".DriverProfileActivity" />

        <!-- Staff -->

        <activity android:name=".StaffAvailableTripsActivity"/>
        <activity android:name=".StaffSeatReservationActivity"/>
        <activity android:name=".StaffHomeActivity"/>

        <!-- Student -->

        <activity android:name=".student.StudentHomeActivity" />
        <activity android:name=".student.StudentReserveSeatActivity" />
        <activity android:name=".student.StudentScheduleActivity" />
        <activity android:name=".student.StudentMessagesActivity" />
        <activity android:name=".student.StudentHistoryActivity" />

        <activity android:name=".PassengerAvailableTripsActivity"/>
        <activity android:name=".PassengerSeatReservationActivity"/>



    </application>

</manifest>